<div class="outer">
  <div class="listitem">
    <div class="img"><img src="/assets/vector-me.png" class="avatar" alt=""></div>
    <div class="right">
      <h1>Hello!</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci quaerat voluptatibus ducimus est tenetur
        quasi facere at quam modi fugit, odit neque velit consequatur labore, accusamus, cumque alias pariatur libero?
        Earum quisquam vitae voluptas iusto tempore praesentium doloremque ad dolor enim commodi aut deserunt eos magnam
        ab, cum non. Reiciendis ipsum dolorem officiis nemo nam eos blanditiis cupiditate veritatis in?</p>
    </div>
  </div>
  <div class="listitem" id="code">
    <div class="img">
      <div class="circle">
        <img src="/assets/computer.svg" style="margin-top: 40px;" alt="">
      </div>

    </div>
    <div class="left">
      <h1>Code that works.</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci quaerat voluptatibus ducimus est tenetur
        quasi facere at quam modi fugit, odit neque velit consequatur labore, accusamus, cumque alias pariatur libero?
        Earum quisquam vitae voluptas iusto tempore praesentium doloremque ad dolor enim commodi aut deserunt eos magnam
        ab, cum non. Reiciendis ipsum dolorem officiis nemo nam eos blanditiis cupiditate veritatis in?</p>
    </div>

  </div>
</div>
